Week 2/.env
Week 2/Lab 4/news-summarizer/.env
.env
__pycache__/
*.pyc
*.pyo
*.log
.pytest_cache/
.vscode/settings.json
src/__pycache__/
.claude/settings.local.json
generate_presentation.py
~$FitByte_AI_Content_Creator_Presentation.pptx

agent.md
.gitignore
