Week 2/.env
Week 2/Lab 4/news-summarizer/.env
.env
__pycache__/
*.pyc
*.pyo
*.log
.pytest_cache/
.env
.env
.vscode/settings.json
src/__pycache__/document_processor.cpython-313.pyc
src/__pycache__/knowledge_base.cpython-313.pyc
src/__pycache__/llm_integration.cpython-313.pyc
src/__pycache__/prompt_templates.cpython-313.pyc

